<div class="panel panel-default">
	<div class="panel-heading"><h2>Add New Record</h2></div>
	<div class="panel-body">
		<%= render 'add_form' %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Back', logs_path %>
	</div>
</div>

